<!DOCTYPE html>
<html lang=uk>
    <head>
        <meta charset="UTF-8">
        <title>Архітектура</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="text-center page-header container-fluid"
                style="font-family:Times; background-color: #eeeeff">
                <h1>Архітектура міста Львова</h1>
            </div>
         </div>
         <ul>
            {% for type in typelist %}
                </br>
                <li><a href="{% url 'listobj' type.id %}">{{ type.typeName }}</a></li>
            {% endfor %}
         </ul>
    </body>
</html>
